.form{
    width: 230px;
    margin-top: 20px;
    margin-left: 30px;
}
.field {
    height: 30px;
    width: 200px;
    padding-left: 10px;
}
.field:not(:first-child) {
    margin-top: 8px;
}
.fieldError {
    border: 2px solid #f77c7c;
}
.fieldIsValidating {
    border: 2px solid #8fff93;
}
.error {
    height: 13px;
    font-size: 13px;
    color: #f77c7c;
}

.submit {
    composes: btn_submit from global;
    margin-top: 20px;
    margin-left: 80px;
}
.status {
    height: 14px;
    font-size: 14px;
    color: #f77c7c;
    margin-bottom: 15px;
}