.container {
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    margin-top: 20px;
}
.field {
    height: 30px;
    width: 200px;
    padding-left: 10px;
}
.field:not(:first-child) {
    margin-top: 8px;
}
.fieldError {
    border: 2px solid #f77c7c;
}
.fieldIsValidating {
    border: 2px solid #8fff93;
}
.error {
    height: 13px;
    font-size: 13px;
    color: #f77c7c;
}

.submit {
    composes: btn_submit from global;
    margin-left: 10px;
}
.submit:hover {
    background-color: #9da65d;
}
.submit:active {
    background-color: #6c733d;
}
.status {
    height: 14px;
    font-size: 14px;
    color: #f77c7c;
    margin-bottom: 15px;
}
.buttons {
    display: flex;
    margin-top: 20px;

}
.autoFill {
    composes: btn_submit from global;
    height: 50px;
}
.autoFill:hover {
    background-color: #9da65d;
}
.autoFill:active {
    background-color: #6c733d;
}
.checkbox {
    cursor: pointer;
}