.friendsList {
    margin-top: 100px;
}
.friendsList ul {
    margin-top: 50px;
    list-style-type: none;
}
.friendsList ul li {
    margin-top: 10px;
}
.friendsList ul li span{
    margin-left: 10px;
    vertical-align: 10px;
}