:root {
  --text-color: #f2f2f2;
  --color-background-card: #2f3637;
  --color-highlight: #6c733d;
  --color-additional: #9da65d;
  --text-roboto: 'Roboto', sans-serif;
  --text-openSans: 'Open Sans', sans-serif;
  --color-backForMessages: #465053;
}
