* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202426;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  color: #F2F2F2;
}
a:hover {
  color: #6c733d;
}
a:active {
 color: #9da65d;
}
h4 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}

.page-wrapper {
  max-width: 1365px;
  margin: 10px auto 0;
  font: 400 16px "Open Sans", sans-serif;
  letter-spacing: 0.03em;
  color: #F2F2F2;
}

main {
  margin-top: 80px;
}
.center-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}