.usersCard {
  position:relative;
  background-color: var(--color-background-card);
  border-radius: 15px;
  padding: 45px;
}
.usersCard  div[class*="preloader"]  {
  position: absolute;
  left: 230px;
  bottom: 45px;
}
[class*="paginator"] {
  max-width: 75%;
  margin-top: 3rem;
}