.contentMessages {
  display: grid;
  grid-template-areas: 'dialogs messages';
  grid-template-rows: 1fr;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 2%;
  padding-top: 100px;
  margin: 0 40px;
}
