@import '../../../styles/global.css';
.search {
  align-self: center;
  display: flex;
  width: 200px;
}

.search__input {
  width: 165px;
  padding-left: 10px;
  color: var(--text-color);
  font-size: 16px;
  outline: none;
  background-color: inherit;
  border: 2px solid var(--text-color);
  height: 35px;
  border-radius: 20px 0 0 20px;
}

.search__input::placeholder {
  color: var(--text-color);
  opacity: 0.5;
  font-size: 16px;
}

.search__submit {
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  background: var(--text-color) url('../static/search-icon.png') 9px center / auto no-repeat;
  border-radius: 0 20px 20px 0;
  cursor: default;
}

@media (max-width: 1031px) {
  .search {
    width: auto;
  }
  .search__input {
    display: none;
  }
  .search__submit {
    border-radius: 50%;
  }
}