.contentProfile {
  display: grid;
  grid-template-areas: 'ucard adc' 'pcard pcard';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7%;
  padding-top: 100px;
  margin: 0 40px;
}
